# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



######################################################

# SystemApp

########################################################


/CppSystemCase01/SystemApp/Debug
/CppSystemCase01/SystemApp/x64
/CppSystemCase01/SystemApp/x86
/CppSystemCase01/SystemApp/SystemInfo/Debug
/CppSystemCase01/SystemApp/SystemInfo/x64/Debug
/CppSystemCase01/SystemApp/SystemInfo/x86/Debug
/CppSystemCase01/SystemApp/.vs



/CppSystemCase01/SystemApp/SystemInfo/Debug
/CppSystemCase01/SystemApp/Debug
/CppSystemCase01/SystemApp/.vs/SystemApp/v16




/CppSystemCase01/SystemApp/SystemM1Dll/Debug
/CppSystemCase01/SystemApp/SystemInfo/x64/Release
/CppSystemCase01/SystemApp/SystemM1Dll/x64/Release/SystemM1Dll.tlog
/CppSystemCase01/SystemApp/SystemM1Dll/x64/Release
